{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h2><b>Filtros</b> - Faça upload da imagem para detecção de objetos</h2>
        <h1></h1>
        <p>
          <!-- Formulario responsavel por baixar a imagem-->
          <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="media">
            <div class="media-left media-middle">
              <br>
              <br>
                <p>{{ form.non_field_errors }}</p>
                <p>
                    {{ form.imagem.errors }}
                    {{ form.imagem }}
                </p>

              </p>
                  <input type="submit" value="Upload">
              </p>
            </form>
            <br>
          </div>
        </div>
          <!-- Fim do formulario pra baixar a imagem-->

    </header>

    <hr>

    <!-- Title -->

    <!-- /.row -->
          {% if  data %}
          
          <span class="image">
                <table align="center">
                  <tr>
                        <th><img src="{% static 'img/original.png'%}" style="width: 400px"><br>Imagem Original</th>
                        <th><img src="{% static 'img/canny.png'%}" style="width: 400px"><br>Detecção</th>
                  </tr>      
                  
                </table>
              </span>
    
       

         

          
          {% endif %}

    <hr>
{% endblock %}
